<div class="container-xl mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-2">
      <h2>Εισαγωγή</h2>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col">
      <form (ngSubmit)="onSubmit(insertForm)" #insertForm="ngForm">
        <div class="row mb-4">
          <div class="form-group col-lg-2">
            <label for="pickupDate">Ημερομηνία</label>
            <input type="date" id="pickupDate" class="form-control" ngModel name="pickupDate"  min="2024-01-01" max="2024-12-31">
          </div>
          <div class="form-group col-lg-2">
            <label for="pickupTime">Ώρα</label>
            <input type="time" id="pickupTime" class="form-control" ngModel name="pickupTime" >
          </div>
          <div class="form-group col-lg-2">
            <label for="transferFrom">Αφετηρία</label>
            <input type="text" id="transferFrom" class="form-control" ngModel name="transferFrom" >
          </div>
          <div class="form-group col-lg-2">
            <label for="transferTo">Προορισμός</label>
            <input type="text" id="transferTo" class="form-control" ngModel name="transferTo" >
          </div>
          <div class="form-group col-lg-2">
            <label for="pax">Άτομα</label>
            <input type="number" id="pax" class="form-control" ngModel name="pax" min="1" max="20" >
          </div>
          <div class="form-group col-lg-2">
            <label for="type">Κατηγορία</label>
            <select id="type" class="form-control" ngModel name="type">
              <option *ngFor="let type of types;">{{ type }}</option>
            </select>
          </div>
          <div class="form-group col-lg-2">
            <label for="passengerName">Όνομα</label>
            <input type="text" id="passengerName" class="form-control" ngModel name="passengerName">
          </div>
          <div class="form-group col-lg-2">
            <label for="priceTotal">Σύνολο</label>
            <input type="number" min="0" max="200" id="priceTotal" class="form-control" ngModel name="priceTotal">
          </div>
          <div class="form-group col-lg-2">
            <label for="priceNet">Net</label>
            <input type="number" min="0" max="200" id="priceNet" class="form-control" ngModel name="priceNet">
          </div>
          <div class="form-group col-lg-2" ngModelGroup="client">
            <label for="client">Πελάτης</label>
            <select id="type" class="form-control" ngModel name="title">
              <option *ngFor="let client of clients">{{ client.title }}</option>
            </select>
          </div>
          <div class="form-group col-lg-2">
            <label for="provider">Προμηθευτής</label>
            <select id="type" class="form-control" ngModel name="provider">
              <option *ngFor="let provider of providers">{{ provider }}</option>
            </select>
          </div>
          <div class="form-group col-lg-2">
            <label for="providerCost">Κόστος</label>
            <input type="number" min="0" max="100" id="providerCost" class="form-control" ngModel name="providerCost">
          </div>
        </div>
        <div class="row">
          <div class="form-group d-flex justify-content-end gap-2">
            <button class="btn btn-success btn-block" type="submit" [disabled]="!insertForm.valid">Εισαγωγή</button>
            <button class="btn btn-danger btn-block" type="button" (click)="clearForm(insertForm)">Εκκαθάριση</button>
          </div>
        </div>
        <!-- Alternative buttons layout -->
        <!-- <div class="form-group d-grid gap-2 col-5 mx-auto">
          <button class="btn btn-success btn-block" type="submit" [disabled]="!insertForm.valid">Εισαγωγή</button>
          <button class="btn btn-secondary btn-block" type="button" (click)="clearForm(insertForm)">Εκκαθάριση</button>
        </div> -->
      </form>
    </div>
  </div>
</div>
