<div class="container mt-3">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <h3>Αναζήτηση</h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
        <div class="row">
          <div class="form-group col">
            <label for="pickupDateFrom">Από</label>
            <input type="date" id="pickupDateFrom" class="form-control" ngModel name="pickupDateFrom"  min="2024-01-01" max="2024-12-31">
          </div>
          <div class="form-group col">
            <label for="pickupDateTo">Έως</label>
            <input type="date" id="pickupDateTo" class="form-control" ngModel name="pickupDateTo"  min="2024-01-01" max="2024-12-31">
          </div>
          <div class="form-group col" ngModelGroup="client">
            <label for="client">Πελάτης</label>
            <select id="type" class="form-control" ngModel name="title">
              <!-- <option *ngFor="let client of clients">{{ client.title }}</option> -->
            </select>
          </div>
          <div class="form-group col">
            <label for="provider">Προμηθευτής</label>
            <select id="type" class="form-control" ngModel name="provider">
              <!-- <option *ngFor="let provider of providers">{{ provider }}</option> -->
            </select>
          </div>
          <div class="form-group col d-flex align-items-end">
            <button class="btn btn-primary " type="submit" [disabled]="!searchForm.valid">Αναζήτηση</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
