<div class="container-fluid bg-secondary-subtle py-2">
  <form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
    <div class="row gx-2 justify-content-center text align-items-center">
      <!-- From -->
      <div class="form-group col-md-2 col-lg-2">
        <input 
          type="text" 
          placeholder="Από"
          onfocus="(this.type='date')" 
          onblur="(this.type='text')" 
          id="pickupDateFrom" 
          class="form-control" 
          ngModel name="pickupDateFrom"  
          min="2024-01-01" 
          max="2024-12-31">
      </div>
      <!-- To -->
      <div class="form-group col-md-2 col-lg-2">
        <input 
          type="text" 
          placeholder="Έως"
          onfocus="(this.type='date')" 
          onblur="(this.type='text')" 
          id="pickupDateTo" 
          class="form-control" 
          ngModel name="pickupDateTo"  
          min="2024-01-01" 
          max="2024-12-31">
      </div>
      <!-- Client -->
      <div class="form-group col-md-3 col-lg-2">
        <select id="client" class="form-control" ngModel name="clientTitle">
          <option value="" selected>Πελάτης</option>
          <option *ngFor="let associate of associateList" [ngValue]="associate.title">{{ associate.title }}</option>
        </select>
      </div>
      <!-- Provider -->
      <div class="form-group col-md-3 col-lg-2">
        <select id="operator" class="form-control" ngModel name="operatorName">
          <option value="" selected>Προμηθευτής</option>
          <option *ngFor="let associate of associateList" [ngValue]="associate.title">{{ associate.title }}</option>
        </select>
      </div>
      <!--  -->
      <div class="form-group col d-flex align-items-end">
        <button class="btn btn-outline-secondary" type="submit" [disabled]="!searchForm.valid">Αναζήτηση</button>
      </div>
    </div>
  </form>
</div>