<div class="container-xl mt-4">
  <div class="row">
    <div class="col">
      <h2>Client for Transfers Demo. Built with Angular & Bootstrap.</h2>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col">
      <ul class="">
        <li class="list-group-item"><h5>Select Insert to insert a new transfer.</h5></li>
        <li class="list-group-item"><h5>Select Search to search for transfers.</h5></li>
        <p>Update and delete actions are available via the Search result page by selecting a transfer.</p>
      </ul>
    </div>
  </div>
</div>