<div class="container-xl mt-4">
  <div class="row">
    <div class="col">
      <h2>Client for Transfers Demo. Built with Angular.</h2>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col">
      <h6>Click on the Transfers tab to select an option to manage your transfers.</h6>
      <ul class="">
        <li class="list-group-item">Select Insert to persist a new transfer.</li>
        <li class="list-group-item">Select Search to query for persisted transfers.</li>
      </ul>
      <h6>Further actions to Update or Delete a transfer are possible via the Search result list.</h6>
    </div>
  </div>
</div>