<form [formGroup]="updateForm" >
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Name</th>
          <th scope="col">Pax</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Type</th>
          <th scope="col">Client</th>
          <th scope="col">Total</th>
          <th scope="col">Net</th>
          <th scope="col">Provider</th>
          <th scope="col">Cost</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <ng-container *ngFor="let transfer of transfers">
          
          <!-- Normal row -->
          <tr *ngIf="transferSelected !== transfer" (click)="selectTransfer(transfer)">
            <td>{{ transfer.pickupDate | date: 'dd/MMM' }}</td>
            <td>{{ transfer.pickupTime.toString().substring(0,5) }}</td>
            <td class="text-nowrap">{{ transfer.passengerName }}</td>
            <td>{{ transfer.pax }}</td>
            <td class="text-nowrap">{{ transfer.transferFrom }}</td>
            <td class="text-nowrap">{{ transfer.transferTo }}</td>
            <td>{{ transfer.type }}</td>
            <td class="text-nowrap">{{ transfer.client?.title }}</td>
            <td>{{ transfer.priceTotal }}</td>
            <td>{{ transfer.priceNet }}</td>
            <td class="text-nowrap">{{ transfer.provider?.name }}</td>
            <td>{{ transfer.providerCost }}</td>
            <td><button type="button" class="btn btn-outline-danger" (click)="onDelete(transfer.id!)">Delete</button></td>
          </tr>

          <!-- Selected row -->
          <tr *ngIf="transferSelected === transfer" class="table-primary">
            <td>
              <input
                type="date"
                class="form-control"
                formControlName="pickupDate"
                [value]="transfer.pickupDate"
                min="2024-01-01" 
                max="2024-12-31"
                />
            </td>
            <td>
              <input
                type="time"
                class="form-control"
                formControlName="pickupTime"
                [value]="transfer.pickupTime"
                />
            </td>
            <td>
              <input
                type="text"
                class="form-control w-auto"
                formControlName="passengerName"
                [value]="transfer.passengerName"
                />
            </td>
            <td>
              <input
                type="number"
                class="form-control customLength"
                formControlName="pax"
                [value]="transfer.pax"
                />
            </td>
            <td>
              <input
                type="text"
                class="form-control w-auto"
                formControlName="transferFrom"
                [value]="transfer.transferFrom"
                />
            </td>
            <td>
              <input
                type="text"
                class="form-control w-auto"
                formControlName="transferTo"
                [value]="transfer.transferTo"
              />
            </td>
            <td>
              <!-- Do rework later -->
              <select class="form-control w-auto" formControlName="type">
                <option class="bg-warning" [value]="transfer.type" selected>{{ transfer.type }}</option>
                <hr>
                <option *ngFor="let type of types;">{{ type }}</option>
              </select>
            </td>
            <td>
              <!-- Do rework later -->
              <select class="form-control w-auto" formControlName="client">
                <option class="bg-warning" [ngValue]="transfer.client" selected>{{ transfer.client?.title }}</option>
                <hr>
                <option *ngFor="let client of clientList;" [ngValue]="client">{{ client.title }} </option>
              </select>
            </td>
            <td>
              <input
                type="number"
                class="form-control customLength"
                formControlName="priceTotal"
                [value]="transfer.priceTotal"
              />
            </td>
            <td>
              <input
                type="number"
                class="form-control customLength"
                formControlName="priceNet"
                [value]="transfer.priceNet"
              />
            </td>
            <td>
              <!-- Do rework later -->
              <select class="form-control w-auto" formControlName="provider">
                <option class="bg-warning" [ngValue]="transfer.provider" selected>{{ transfer.provider?.name }}</option>
                <hr>
                <option *ngFor="let provider of providerList;" [ngValue]="provider">{{ provider.name }}</option>
              </select>
            </td>
            <td>
              <input
                type="number"
                class="form-control customLength"
                formControlName="providerCost"
                [value]="transfer.providerCost"
              />
            </td>
            <td>
              <div class="btn-group" >
                <button class="btn btn-outline-success" (click)="onUpdate()">Update</button>
                <button type="button" class="btn btn-outline-danger" (click)="clear()">Cancel</button>
              </div>
            </td>
          </tr>

        </ng-container>
      </tbody>
    </table>
  </div>
</form>





